
/********* ARTICLES CSS ********/

.article-list{
	.article-item{
		position: relative;
		display: block;
		width: 48%;
		margin-right: 1%;
		margin-bottom: 10px;
		float: left;
		border-radius: 5px;
		overflow: hidden;

		-webkit-transition: -webkit-transform .2s ease;
		transition: -webkit-transform .2s ease;
		transition: transform .2s ease;
		transition: transform .2s ease, -webkit-transform .2s ease;

		// .img-overlay {
		//     background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(70%, rgba(0,0,0,0.9)));
		//     background: linear-gradient(to bottom, transparent 0, rgba(0,0,0,0.9) 70%);
		//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#cc000000',GradientType=0);
		//     background-position: top;
		//     background-repeat: repeat-x;
		//     position: absolute;
		//     top: 0;
		//     width: 100%;
		//     height: 100%;
		//     opacity: 0.4;
		//     -webkit-transition: all 200ms linear;
		//     transition: all 200ms linear;
		// }

		&:hover {
		    -webkit-transform: scale(1.01);
		    transform: scale(1.01);

		    img{
		    	opacity: 0.5;
		    }
		}
	}

	img{
		width: 100%;
		opacity: 0.6;

		-webkit-transition: opacity .2s ease;
		transition: opacity .2s ease;
	}

	h3{
		position: absolute;
		bottom: 0;
		padding: 10px 12px;
		color: #fff;
		margin-bottom: 5px;
		text-shadow: 0 1px 0 black;
		-moz-text-shadow: 0 1px 0 black;
		-webkit-text-shadow: 0 1px 0 black;
		font-weight: bold;
	}

}

.article-img{
	max-height: 240px;
	overflow: hidden;
	display: block;
}

.button-backtolist{
	width: 100%;
}

.breadcrumb{
	margin-bottom: 15px;
	font-size: .875em;

	a{
		color: #fff;
		font-weight: bold;
	}

	.fa-chevron-right{
		font-size: .5em;
		vertical-align: middle;
		margin: 0 5px;
	}
}

.article-post{
	.post-image{
		max-height: 350px;
		overflow: hidden;
		display: block;
		margin-bottom: 10px;
		border-radius: 4px;
	}

	img{
		max-width: 100%;
		height: auto;
	}

	.category{
		background: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0);
		color: #fff;
		padding: 0.5rem 1rem;
		border-radius: 4px;
		cursor: pointer;

		&:hover{
		    background: #fff;
		    color: #4582EC;
		}

		-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	}
}