.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    grid-gap: 4rem 3rem;

    .item-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #717790;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;

        .card-bg {
            position: absolute;
            content: "";
            right: -1rem;
            bottom: -1rem;
            left: 1rem;
            top: 1rem;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            z-index: -1;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        &:hover .card-bg {
            left: -1rem;
            right: -1rem;
            top: -1rem;
        }

        .header {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 1rem;
            -webkit-box-ordinal-group: 4;
            -webkit-order: 3;
            -ms-flex-order: 3;
            order: 3;

            .user-avatar {
                float: left;
                padding-right: 10px;

                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 6px;
                    min-width: 40px;
                }
            }

            .setup-meta {
                line-height: initial;
                width: 95%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 5px;

                .setup-title {
                    font-size: 1.6rem;
                    margin: 0 0 0.15rem;
                    letter-spacing: normal;
                    font-family: inherit;

                    a {
                        color: white;
                    }
                }
                .setup-author {
                    display: block;
                    font-size: 1.5rem;
                }
            }

            .setup-like-box {
                white-space: nowrap;
                margin-right: 5px;
                color: #fff;
            }
        }

        .setup-image {
            background: #16222a;
            color: #16222a;
            display: block;
            min-height: 157px;
            height: auto;
            width: 100%;

            border-radius: 6px;
        }
    }
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    grid-gap: 2rem 2rem;

    .item-grid {
        display: inline-flex;
        background: #282d37;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 100%;

        &:hover {
            background: #303643;
        }

        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            color: #d9e1e8;
            text-decoration: none;
            line-height: 20px;
            padding: 10px;

            img {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;

                width: 40px;
                height: 40px;
                max-width: 100%;
                border-radius: 4px;
                display: block;
                background-color: rgb(0, 0, 0);
                margin-right: 10px;
            }

            strong {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            span {
                font-size: 1.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
