/*********** INDEX CSS ***********/

.home_hero_container {
    background-color: $color-dark-blue;
    padding: 70px 0 10px 0;
    max-height: 530px;
    overflow: hidden;
    background: $gradient-blue;

    background-position: center;
    background-repeat: no-repeat;
}

.hero_image {
    text-align: center;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.hero_container {
    position: relative;
    overflow: hidden;
    margin: 0 -20px;
    height: 365px;

    .hero_content {
        position: absolute;
        left: 0;
        padding: 20px;
        top: 45px;
        width: 500px;
        max-width: 100%;
        text-align: left;

        h2 {
            z-index: 100;
            font-size: 3.2em;
            font-weight: bold;
            line-height: 1em;
            color: #fff;
        }

        p {
            font-size: 20px;
            font-weight: lighter;
        }

        .hero_calltoaction {
            display: block;
            text-align: center;
            width: 100%;
        }
    }
}

.hero_inner {
    margin: 50px 0 30px;
    display: flex;
}

.hero_column {
    flex: 1 1;
    flex-direction: row;
}

.hero_inner .center-margin-button {
    text-align: center;
    margin-top: 20px;
}

.hero_mainsetup {
    width: 100%;
    height: 350px;
    border-radius: 4px;
    margin: 20px 0 40px 0;

    padding: 0 30px;

    text-align: center;

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    align-content: center;

    h2,
    p {
        text-shadow: 0 1px 0 black;
        font-weight: bold;
        flex: 1 0 100%;
    }

    .embed-links {
        flex: 1 0 100%;
    }

    .jssocials-share-link {
        margin-bottom: 5px;
    }
}

.hero_calltoaction {
    cursor: pointer;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    background: $color-blue;
    transition: background-color 150ms ease-out, background-image 150ms ease-out, background-position 150ms ease-out,
        color 150ms ease-out;

    &:hover {
        color: #fff;
        background: $color-dark-blue;
    }

    &:focus {
        color: #ddd;
    }
}

.home_more {
    max-width: 100%;
    white-space: normal;
    height: auto;
    color: #d7d7d7;
    font-size: 1.5rem;

    &:hover {
        color: $color-blue;
    }
}

.home_container {
    .config-items {
        max-height: 180px;
    }
    padding-bottom: 10px;
}

.rowfeed {
    padding: 40px 0;

    h3 {
        font-size: 3.2rem;
    }
}

.rowsocial {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin: 30px 10px;
    height: 110px;
}

.rowsocial .blog-advert,
.rowsocial .twitch-advert {
    height: 100px;
    margin-bottom: 10px;
}

.rowsocial .blog-advert h5,
.rowsocial .twitch-advert h4 {
    font-size: 23px;
    margin-bottom: 0;
}

.twitch-advert {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 372.68px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 10;
    background-color: #bb68c4;
    background: #6441a4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #bb68c4 0%, #6441a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #bb68c4 0%, #6441a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        #bb68c4 0%,
        #6441a4 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BB68C4', endColorstr='#6441A4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: background 1s;
    overflow: hidden;
}

.twitch-advert:before {
    border-radius: inherit;
    background-image: linear-gradient(#6441a4, #6441a4);
    background: -moz-linear-gradient(-45deg, #6441a4 0%, #6441a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6441a4 0%, #6441a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        #6441a4 0%,
        #6441a4 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6441A4', endColorstr='#6441A4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s;
}

.twitch-advert:hover:before {
    opacity: 1;
}

.twitch-advert h4 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.twitch-advert i,
.blog-advert i {
    font-size: 115px;
    position: absolute;
    color: rgba(255, 255, 255, 0.18);
    top: 14px;
    left: 6px;
}

.blog-advert {
    position: relative;
    width: 100%;
    text-align: center;
    height: 372.68px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3c72b8;
    z-index: 10;
    background: #3c72b8; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3c72b8 0%, #3a4071 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3c72b8 0%, #3a4071 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        #3c72b8 0%,
        #3a4071 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C72B8', endColorstr='#3A4071',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: background 1s;
    overflow: hidden;
}

.blog-advert:before {
    border-radius: inherit;
    background-image: linear-gradient(#3c72b8, #3c72b8);
    background: -moz-linear-gradient(-45deg, #3c72b8 0%, #3c72b8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3c72b8 0%, #3c72b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        #3c72b8 0%,
        #3c72b8 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C72B8', endColorstr='#3C72B8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s;
}

.blog-advert a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.blog-advert h5 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.blog-advert:hover:before {
    opacity: 1;
}

.twitter-feed {
    height: 765.36px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Search Bar */
.large_search {
    margin: 10px 0;
    position: relative;

    .fa {
        position: absolute;
        top: 12px;
        right: 10px;
        color: #535353;
    }
}

#keyword-search,
#searchbar-search {
    border: none;
    border-radius: 3px;
    height: 40px;
    background: #f6f2f2;
    padding: 0 30px 0 17px;
    color: #585858;
    width: 100%;
    margin-bottom: 0;
}

.ac__container {
    z-index: 25;
    margin-top: -3px;
    height: 3px;
}

/* Words container */
.ac__inner {
    background: #f6f6f6;
    color: #000;
}

/* Individual word element */
.ac__word {
    margin: 0;
    padding: 5px 15px;
}

/* Word prefix style. It’s the span containing the search keyword within the word. */
.ac__prefix {
    font-weight: bold;
}

/* Style applied to each words while navigating through the list or on hover */
.ac__word--selected,
.ac__word:hover {
    background-color: #e3e3e3;
}

.feeditem {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 10px;
}

/**** Showcase items ****/

.setup-showcase {
    margin: 30px auto;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 2;

    h4 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: none;
        margin: 0;
        padding: 0 10px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .showcase-meta {
        display: inline-flex;
        width: 100%;
        height: 60px;
        margin: 20px 0;

        .showcase-author {
            flex: 1;
            align-self: center;

            .author-name-prefix {
                color: #7a7a8c;
            }

            .author-name {
                color: #fff;
            }
        }

        .showcase-likes {
            font-size: 2em;
            align-self: center;
            margin-right: 10px;
        }

        .showcase-avatar {
            position: relative;
            -ms-flex-item-align: start;
            align-self: start;
            margin: 0 10px;
        }

        .author-avatar img {
            border-radius: 6px;
            width: 60px;
            height: 60px;
        }
    }
}

.setup-showcase-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
