/********** POST CSS **********/

.featured-container {
    padding: 120px 0 40px 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 20;
}

.featured-container h2 {
    text-transform: uppercase;
}

.featured-container img {
    display: block;
    box-shadow: 0 10px 20px rgba(5, 30, 50, 0.2);
    border-radius: 4px;
    width: 100%;
}

.featured-img-setup {
    position: relative;
    display: block;
    width: 100%;
}

.featured-img-setup:hover .videoplayer-icon {
    opacity: 1;
}

.videoplayer-icon {
    color: #fff;
    width: 100%;
    height: 519px;
    line-height: 519px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.videoplayer-icon:hover {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: #fff;
}

.videoplayer-icon i {
    font-size: 6em;
    vertical-align: middle;
}

.featured-gradient {
    width: 100%;
    height: 100%;

    filter: url(blur.svg#blur);
    -webkit-filter: blur(70px);
    -o-filter: blur(70px);
    -ms-filter: blur(70px);
    filter: blur(70px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='70');
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

.featured-inner {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    z-index: 9;
    margin-bottom: 10px;

    h3 {
        margin: 10px 0 0 20px;
        display: inline-block;
        text-shadow: 0 1px 0 black;
        -moz-text-shadow: 0 1px 0 black;
        -webkit-text-shadow: 0 1px 0 black;
    }

    p {
        margin-left: 100px;
        margin-bottom: 0;
    }

    .featured-user img {
        width: 80px;
        border-radius: 100%;
        float: left;
        border: solid 2px #328fea;
        background-color: rgb(0, 0, 0);

        &:hover {
            opacity: 0.9;
        }
    }

    .like_button {
        float: right;
    }
}

.featured-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 490px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#cc000000',GradientType=0);
    background-position: top;
    background-repeat: repeat-x;
    z-index: 8;
}

.edit_panel {
    margin-top: 20px;
    margin-right: 4px;
    float: right;
}

.edit_panel a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 4px;
    background-color: #292929;
    font-size: 20px;
    float: left;
    margin: 1px 2px;
    line-height: 24px;
    display: block;
}

.post_status_banner {
    margin-top: 10px;
    padding: 0 2rem;
    text-align: center;
    border-radius: 4px;
    background-color: #292929;

    &.status_draft {
        background-color: #d18007;
    }

    &.status_rejected {
        background-color: #d11507;
    }
}

.grecaptcha-badge {
    z-index: 9991;
}

.config-items {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    overflow: hidden;
}

.item_box {
    position: relative;
    flex: auto;
    width: 10em;
    max-width: 22em;
    padding-bottom: 10em; /* = width for a 1:1 aspect ratio */
    margin: 0.5em;
    border: 3px solid #fff;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* you change this to "contain" if you don't want the images to be cropped */
    background-color: #fff;
}

.item_box:hover {
    opacity: 0.9;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.about-inner {
    width: 250px;
    max-width: 100%;
    padding: 3px;
}

.button.brelated {
    width: 100%;
    display: block;
    background-color: #2fa184;
    border: 0.1rem solid #1a841f;
}

.button.brelated:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}

.button.amazon-buy {
    width: 100%;
    display: block;
}

.config-post .column {
    position: relative;
}

.item-youtube {
    width: 100%;
    margin-top: 20px;
}

.post_slider {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

/*.post_slider .slick-list{
	overflow-y: inherit!important;
}*/

.post_slider .slider-item {
    border-radius: 4px;
    margin: 0px;
    max-height: 500px;
    overflow: hidden;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.post_slider .slick-active {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.slick-prev {
    position: absolute;
    top: 45%;
    left: -50px;

    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: none;
    border: none;
}

.slick-next {
    position: absolute;
    top: 45%;
    right: -50px;

    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: none;
    border: none;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    background: none;
    color: #ababab;
    outline: 0;
    border: 0;
}

.slick-disabled {
    display: none !important;
}

.labeled_button,
.like_button {
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    text-decoration: none;
    border-radius: 4px;
}

.like_button {
    margin-top: 20px;
    border: 1px solid #292929;
    background: #292929;
    color: #fff;
    text-decoration: none;
    height: 40px;
}

.featured_label {
    padding: 2px 5px;
    font-size: 55%;
    border-radius: 4px;
    background: #c38a00;
    text-shadow: none;
    vertical-align: top;
    margin: 3px;
    display: inline-block;
}

.labeled_button {
    margin: 0;
    text-shadow: none;
    padding: 0.7em 0.8em 0.7em;
}

/* Remove to have button name */
.labeled_button span {
    display: none;
}

.like_button:focus {
    color: #fff;
}

.like_button:hover {
    border: 1px solid rgb(108, 160, 230);
    color: rgb(108, 160, 230);
}

.like_button.active {
    border: 1px solid #3c72b8;
    background: #3c72b8;

    &:hover {
        color: #fff;
    }
}

.pointing_label {
    position: relative;
    padding: 0.7em 0.8em 0.7em 0em;
    font-size: 1.1em;
}

.setup-colors {
    display: flex;

    .setup-color-box {
        flex: 1 0 auto;
        -webkit-box-sizing: border-box;
        -webkit-transition: all 0.12s ease-out;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        box-sizing: border-box;
        height: 20px;
        position: relative;
        top: 0;
        transition: all 0.12s ease-out;
        margin: 4px;

        &:hover {
            -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
            top: -4px;
        }
    }
}

.setup-date {
    text-align: center;
}

.content-section {
    position: relative;
    border-radius: 4px;
    padding: 10px 0;

    flex-flow: row wrap;

    .item-meta {
        border-right: 1px inset rgba(0, 0, 0, 0.1);
    }

    .section-inner {
        padding: 0 20px 10px 20px;
        height: 100%;
        overflow: auto;
        margin-top: 70px;

        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 200px);
    }
}

.section-inner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(29, 29, 29);
}

.section-inner::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(29, 29, 29);
}

.section-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
}

.content-section .column {
    padding: 0;
    position: relative;
}

.section-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 10;

    h4 {
        margin-bottom: 0;
        padding: 0.5rem 3rem;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }
}

.section-social {
    background: #0b0b0b;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
}

.jssocials-shares {
    margin: 0;
    text-align: center;
}

.jssocials-share-link {
    background: #303030 !important;
    border-radius: 4px;

    &:hover {
        background: #3e3e3e !important;
    }
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 0.6em;
    zoom: 1;
    width: 100%;
}

.comment-img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;

    img {
        display: block;
    }
}

.comment-body {
    overflow: hidden;
    margin-top: 6px;

    a {
        font-size: 14px;
    }
}

.comment .text {
    padding: 6px 15px;
    border-radius: 3px;
    background: #fff;
    color: #000;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .text img {
    font-size: inherit;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -0.2ex 0.15em 0.2ex;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    display: inline-block;
}

.comments,
.comment {
    position: relative;
}

#add-comment-hidden,
#edit-comment-hidden {
    width: 550px;
    max-width: 100%;
}

#addCommentButton,
#editCommentButton {
    margin-top: 10px;
}

.form_add_setup {

    .form-section {
        margin-bottom: 30px;
		padding: 5px 20px;
		border-left: 2px solid #333;
    }

    h3 {
        background: #1e1e1e;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0;
        border-radius: 4px;
    }

    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    textarea,
    select {
        background: #fff;
    }

    .slim {
        background-color: #333;
    }

    .slim[data-state*="empty"]:hover {
        background-color: #555;
    }

    .input.file {
        height: 0;

        label {
            display: none;
        }
    }

    .gallery-holder {
        .slim {
            width: 8em;
        }
	}
	
	.draggable-cards {
		max-width: 100%;
	}
}
