/**********************************************************/
/******************* RESPONSIVE PART *********************/
/********************************************************/

/* Smaller than mobile screen */
@media (max-width: 450px) {
    .hero_container .hero_content p {
        display: none;
    }

    /* Hide captcha badge on mobile */
    .grecaptcha-badge {
        display: none;
    }

    .search_results,
    .basket_items {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .rowsocial .blog-advert h5,
    .rowsocial .twitch-advert h4 {
        font-size: 18px;
    }

    .user-profile .column:first-child {
        display: block;
    }

    .user-profile img {
        float: none;
        margin: 0 auto;
    }

    .user-profile h2 {
        text-align: center;
        margin: 15px 0;
        font-size: 2.9rem;
    }

    .article-list h3 {
        font-size: 1.8rem;
        line-height: 1;
    }
}

/* Smaller than smartphone screen */
@media (max-width: 640px) {
    .ms-logo {
        height: 20px !important;
    }

    .home_hero_container {
        padding: 70px 0 40px 0;
        max-height: 480px;

        & .hero_container {
            height: auto;
        }
    }

    .hero_container .hero_content {
        position: relative;
        text-align: center;
        top: 0;
        width: 100%;

        h2 {
            font-size: 2.5em;
        }
    }

    .hero_container img {
        display: none;
    }

    .feeditem {
        -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
        -moz-column-count: 1 !important; /* Firefox */
        column-count: 1 !important;
    }

    .article-list .article-item {
        width: 100%;
        margin-right: 0;
    }

    /* HOME RESPONSIVE */

    .hero_inner {
        display: block;
    }

    /* POST RESPONSIVE */

    .featured-inner {
        text-align: center;
        position: static;
        height: auto !important;

        .featured-user {
            display: none;
        }

        h3 {
            margin: 5px 0 5px 0;
        }

        p {
            display: block !important;
            margin-left: 0;
            margin-bottom: 5px;
        }

        .row .column.column-75 {
            max-width: 100%;
        }

        .like_button {
            float: none;
        }
    }

    .content-section {
        padding: 0;

        .section-header {
            padding: 10px 0;
        }

        .section-inner {
            padding: 0 0 10px 0;
        }

        h4 {
            font-size: 1.6rem;
        }

        .comment-img:last-child {
            display: none;
        }
    }

    #comment-form {
        margin-left: 0;
        padding-top: 0;
    }

    .edit_panel {
        float: left;
    }

    /* MENU RESPONSIVE */
    .right-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .heavy-nav .column.column-20 {
        max-width: 100%;
    }

    .row .column.column-75,
    .row .column.column-25,
    .row .column.column-60 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* FOOTER RESPONSIVE */

    footer .row {
        display: inline-table;
    }

    footer .column-25 {
        max-width: 50% !important;
        display: block;
        float: left;
        padding-right: 10px;
    }

    /* ADD MODAL RESPONSIVE */

    .search_results p,
    .basket_items p {
        line-height: 30px;
        min-height: 60px;
    }
}

/* Smaller than tablet screen */
@media (max-width: 880px) {
    .maincontainer .row .column.column-75 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row .column.column-25.sidebar {
        display: none;
    }
    .row .column.column-25.sidebar-home {
        display: none;
    }

    .heavy-nav .row {
        padding: 0 2rem 0 0 !important;
    }

    .feeditem {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    .rowsocial {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .rowsocial .social-networks {
        display: none;
    }

    /* POST PAGE RESPONSIVE */

    .config-post {
        display: block;
    }

    .config-post .column {
        display: inline-block;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .content-section {
        max-height: none;

        .item-meta {
            border-right: 0;
        }

        .column {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }

    .featured-inner {
        h3 {
            font-size: 1.3em;
        }

        p {
            display: none;
        }

        .featured-user img {
            width: 50px;
        }

        .like_button,
        .edit_panel {
            margin-top: 5px;
        }

        .labeled_button span {
            display: none;
        }
    }

    /* USER PROFILE */

    .user-profile .column {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .user-profile .column:last-child {
        display: none;
    }
}
