
 /********** POST CSS **********/

.featured-container{
	padding: 120px 0 40px 0;
	overflow: hidden;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 20;
}

.featured-container h2{
	text-transform: uppercase;
}

.featured-container img{
	display: block;
	box-shadow: 0 10px 20px rgba(5,30,50,.2);
	border-radius: 4px;
	width: 100%;
}

.featured-img-setup{
	position: relative;
	display: block;
	width: 100%;
}

.featured-img-setup:hover .videoplayer-icon {
	opacity: 1;
}

.videoplayer-icon {
	color: #fff;
	width: 100%;
	height: 519px;
	line-height: 519px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.videoplayer-icon:hover {
	background: rgba(0,0,0,0.4);
	border-radius: 4px;
	color: #fff;
}

.videoplayer-icon i{
	font-size: 6em;
    vertical-align: middle;
}

.featured-gradient{
	width: 100%;
	height: 100%;

	filter: url(blur.svg#blur);
	-webkit-filter: blur(70px);
	-o-filter: blur(70px);
	-ms-filter: blur(70px);
	filter: blur(70px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='70');
	background-size: cover;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	opacity: 0.8;
}

@-moz-document url-prefix() {
  .featured-gradient {
    background: #151515!important;
    filter: none!important;
   	-webkit-filter: none!important;
	-o-filter: none!important;
	-ms-filter: none!important;
	opacity: 1;
  }
}

.featured-inner{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	padding: 10px;
	z-index: 9;
}

.featured-inner h3{
	margin: 10px 0 0 20px;
	display: inline-block;
	text-shadow: 0 1px 0 black;
	-moz-text-shadow: 0 1px 0 black;
	-webkit-text-shadow: 0 1px 0 black;
}

.featured-inner p{
	margin-left: 100px;
	margin-bottom: 0;
}

.featured-inner .featured-user img{
	width: 80px;
	border-radius: 100%;
	float: left;
	border: solid 2px #328fea;
	background-color: rgb(0, 0, 0);
}

.featured-user img:hover{
	opacity: 0.9;
}

.featured-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 490px;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#cc000000',GradientType=0);
    background-position: top;
    background-repeat: repeat-x;
    z-index: 8;
}

.edit_panel{
	margin-top: 20px;
	margin-right: 4px;
	float: right;
}

.edit_panel a{
	text-decoration: none;
	color: #fff;
	padding: 7px;
	border-radius: 4px;
	background-color: #292929;
	font-size: 20px;
	float: left;
    margin: 1px 2px;
    line-height: 24px;
    display: block;
}

.grecaptcha-badge{
	z-index: 11;
}

.config-items{
	position: relative;
	width: 100%;
}

.config-items :first-child .item_box{
	margin-left: 0;
}

.config-items :last-child .item_box{
	margin-right: 0;
}

.item_box {
    float:left;
    position: relative;
    width: 15%;
    padding-bottom : 15%; /* = width for a 1:1 aspect ratio */
    margin: 1%;
    border: 3px solid #fff;
    border-radius: 4px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain; /* you change this to "contain" if you don't want the images to be cropped */
    background-color: #fff;
}


.item_box:hover{
	opacity: 0.9;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.about-inner{
	width: 250px;
	max-width: 100%;
	padding: 3px;
}

.button.brelated{
	width: 100%;
	display: block;
	background-color: #2fa184;
	border: .1rem solid #1a841f;
}

.button.brelated:hover{
	background-color: #606c76;
	border-color: #606c76;
	color: #fff;
	outline: 0;
}

.button.amazon-buy{
	width: 100%;
	display: block;
}

.config-post .column{
	position: relative;
}

.item-youtube{
	width: 100%;
	margin-top: 20px;
}

.post_slider{
	margin: 0 auto;
	max-width: 112rem;
	padding: 0 2rem;
	position: relative;
	width: 100%;
}

/*.post_slider .slick-list{
	overflow-y: inherit!important;
}*/

.post_slider .slider-item{
	border-radius: 4px;
	margin: 0px;
	max-height: 500px;
	overflow: hidden;
	opacity: 0.4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.post_slider .slick-active{
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.slick-prev{
	position: absolute;
	top: 45%;
	left: -50px;

	display: inline-block;
	font: normal normal normal 25px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	background: none;
	border: none;
}

.slick-next{
	position: absolute;
	top: 45%;
	right: -50px;

	display: inline-block;
	font: normal normal normal 25px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	background: none;
	border: none;
}


.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus{
	background: none;
	color: #ababab;
	outline: 0;
	border: 0;
}

.slick-disabled{
	display: none!important;
}


.labeled_button, .red_button{
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    text-decoration: none;
    border-radius: 4px;
}

.red_button{
	margin-top: 20px;
	border: 1px solid #292929;
	background: #292929;
/*	border-radius: 25px;*/
	color: #fff;
	text-decoration: none;
	height: 40px;
}

.labeled_button{
	margin: 0;
    text-shadow: none;
    padding: .7em .8em .7em;
}

/* Remove to have button name */
.labeled_button span{
	display: none;
}


.red_button:focus{
	color: #fff;
}

.red_button:hover{
	border: 1px solid #E73535;
	color: #E73535;
}

.red_button.active{
	border: 1px solid #FC003E;
	color: #FC003E;
}

.pointing_label{
	position: relative;
	padding: .7em .8em .7em 0em;
	font-size: 1.1em;
}

.item-meta{

}

.setup-date{
	text-align: center;
}

.content-section{
	position: relative;
	margin-top: 20px;
	border-radius: 4px;
	background-color: rgb(29, 29, 29);
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100vh - 60px);
}

.section-inner::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(29, 29, 29)
}

.section-inner::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(29, 29, 29);
}

.section-inner::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(60, 60, 60);
}

.content-section .column{
	padding: 0;
	position: relative;
}

.item-meta .section-inner{
	border-right: 1px solid rgb(60, 60, 60);
}

.section-header{
	position: absolute;
	top: 0;
	width: 100%;
	background: #040404;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid rgb(60, 60, 60);
	z-index: 10;
}

.section-header h4{
	margin-bottom: 0;
}

.content-section .section-inner{
	padding: 70px 20px;
	height: 100%;
	overflow: auto;
}

.section-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #040404;
}

.jssocials-shares {
    margin: 0;
    text-align: center;
}

.jssocials-share-link{
	background: #303030 !important;
	border-radius: 4px;
}

.jssocials-share-link:hover{
	background: #3E3E3E !important;
}

#commentField{
	border-radius: 4px;
	background-color: #fff;
	padding: 7px;
	height: 34px;
	font-family: inherit;
	margin: 0;
	min-height: auto;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 .6em;
    zoom: 1;
    width: 100%;
}

.comment-img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body{
	overflow: hidden;
	margin-top: 6px;
}

.comment-body a { font-size: 14px; }

.comment .text {
    padding: 6px 15px;
    border-radius: 3px;
    background: #fff;
    color: #000;
}

.comment .text p:last-child { margin: 0 }

.comment .text img{
	font-size: inherit;
	height: 2ex;
	width: 2.1ex;
	min-height: 20px;
	min-width: 20px;
	display: inline-block;
	margin: -.2ex .15em .2ex;
	line-height: normal;
	vertical-align: middle;
	max-width: 100%;
	top: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    display: inline-block;
}

.comments, .comment { position: relative }

#comment-form{
	margin-left: 70px;
	padding-top: 8px;
}

#edit-comment-hidden{
	width: 550px;
	max-width: 100%;
}

#editCommentButton{
	margin-top: 10px;
}